$backgroundColor: #ffffff;
$bodyColor: #14213d;
$bodyFont: "Afacad";
$linkColor: #14213d !important;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor
}
